* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Zilla Slab', serif;

}

body {
  background-color: lightgray;
}

.wrap {
  width: 1024px;
  margin: auto;
  padding: .5em;
}


.day {
  width: 14.2857143%;
  float: left;
  padding: .5em;
}

.day-name {
  font-size: 2em;
  text-transform: uppercase;
  color: #1d3426;
  margin: 0;
  margin-bottom: -.1em;
}


.day-item {
  position: relative;
  left: -30px;
  background: lightpink;
  padding: .5em;
  margin-bottom: 1em;
  font-size: .8em;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.day-item-title,
.day-item-description {
  margin: 0;
}

.day-item-title {
  color: black;
}