* {
    font-family: 'Zilla Slab', serif;
}

body {
    color: ghostwhite;
    text-align: justify;
    background-image: linear-gradient(rgba(65, 62, 16, 0.6), rgba(31, 37, 52, 0.7)), url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

/* Styling the login page */
.row {
    top: 15%;
    left: 37%;
    font-family: 'Zilla Slab', serif;
    position: absolute;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid hsl(241, 84%, 60%);
    background: hsl(241, 44%, 65%);
    transition: 0.6s;
}

.center {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Styling the index.html page */
body {
    text-align: center;
}

.col {
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

col .btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

col .btn:hover {
    border: 2px solid hsl(241, 84%, 60%);
    background: hsl(241, 44%, 65%);
    transition: 0.6s;
}

.random {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 37%;
    text-align: center;
}

.random h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
}

.random img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.frm {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 37%;
    text-align: center;
}

.favorite .btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-size: 18px;
    background: transparent;
    position: absolute;
    top: 80%;
    left: 38%;
    cursor: pointer;
}

.favorite .btn:hover {
    border: 2px solid hsl(8, 89%, 56%);
    background: hsl(0, 72%, 45%);
    transition: 0.6s;
}

/* Stlying the search box */
.search-box {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}

.search-btn {
    border: none;
    outline: none;
    color: #9e4cf0;
    position: absolute;
    top: 14%;
    left: 80%;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 30px;
    width: 250px;
}


