<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {%for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div style="float:right;">
        Signed in as {{username}} <a href='/logout'><button>Logout</button></a>
    </div>
    <h1>Your favorite recipes</h1>
</head>

<body>
    {% for favorite in favorites %}
    <form action="/get-food" method="GET">
        <p>
            <button type="submit" id="search_button" name="food_input"
                value="{{favorite.recipe_name}}">->{{favorite.recipe_name}}</button>
        </p>
    </form>
    {% endfor %}
</body>