<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <div style="float:right;">Signed in as {{username}} <a href='/logout'><button>Logout</button></a>
        <p><a href='/get_favorites'><button>View your favorite recipes!</button></a></p>
    </div>
    <title>Recipe details</title>
</head>

<body>
    <div class="row" id="header">
        <div class="col">
            <h1>Results for {{search_term}}:</h1>
        </div>
    </div>

    {%for i in range(0, recipe_count)%}
    <p><b>{{recipe_titles[i]}}</b></p>
    <img src={{recipe_images[i]}}>
    <ul>
        {% for ingredient in recipe_ingredients[i] %}
        <li>{{ingredient}}</li>
        {% endfor %}
    </ul>
    <ol>
        {% for instruction in recipe_instructions[i] %}
        <li>{{instruction}}</li>
        {% endfor %}
    </ol>
    <form method="POST" action="/add_favorite">
        Recipe: <input type="text" name="recipeName" value="{{recipe_titles[i]}}" readonly />
        <input type="submit" value="Add to favorites!" />
    </form>
    {% endfor %}
</body>

</html>