<html>
{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages %}
<b>{{message}}</b>
{% endfor %}
{% endif %}
{% endwith %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MealDeck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Sign-In<span class="sr-only"></span></a>
                </li>
        </div>
    </nav>
</head>


<body id="landing">
    <div class="bg-image" style="
      background-image: url('https://as2.ftcdn.net/v2/jpg/02/44/71/07/1000_F_244710705_kJbRGNfdwXq4zfikaaXE77iQCAHsQjt0.jpg');
      height: 100vh;
    ">
        <div class="row justify-content-center">
            <div class="card text-center" style="width: 40rem;">
                <div class="card-body">
                    <h3 class="card-title">Welcome to MealDeck!</h3>
                    <h6 class="card-subtitle mb-2 text-muted">MealDeck allows you to easily access recipes for different
                        meals.
                    </h6>

                    <a href="/login" class="card-link"><button type="button" class="btn btn-primary">Get
                            started using your Google Account!</button></a>
                    <p class="card-text">New user? We'll automatically create an account for you!</p>
                </div>
            </div>
        </div>
        <h1 class="display-6">Features</h1>
        <br>
        <div class="container-lg my-3">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                </ol>

                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card text-center mx-auto" style="width: 50rem;">
                            <div class="card-body">
                                <h3 class="card-title">Choose your favorites</h3>
                                <p class="card-text">Easily search for different recipes and save the ones that you like
                                    the
                                    most.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card text-center mx-auto" style="width: 50rem;">
                            <div class="card-body">
                                <h3 class="card-title">Create a meal plan</h3>
                                <p class="card-text">Plan out your meals in advance using our MealPlan feature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card text-center mx-auto" style="width: 50rem;">
                            <div class="card-body">
                                <h3 class="card-title">Find food near you</h3>
                                <p class="card-text">Find selected food items in a store or business near you. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>

</body>

</html>