<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a79c145460.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Zilla+Slab:ital@1&display=swap" rel="stylesheet">

</head>


{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages %}
<b>{{message}}</b>
{% endfor %}
{% endif %}
{% endwith %}

<body>
    <div class="row">
        <h1>Welcome to MealDeck!!</h1>
    </div>

    <div class="center">
        <a href='/login'><button type="button" class="btn btn-primary btn-lg">Login using Google!</button></a>
    </div>


</body>

</html>